<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monospaced Page</title>
  <style>
    body {
      font-family: 'Courier New', Courier, monospace;
    }
  </style>
</head>
<body>
<h1>Exam 2 notes</h1>
<p>Name: Yi Yang</p>
<p>AndrewID: yiyang5</p>
<h3><strong>Example</strong></h3>
<p>In a experiment in changing one’s fate and causality, an observational study is conducted on people who have read Berserk.</p>
<p>The predictors are: (num.p) number of pages read in Berserk (continuous), unit is &quot;pages&quot;; (s8) sleeps more than 8 hours per day (dichotomous), unit is boolean (yes/no); (deg) has university education (dichotomous), unit is boolean (yes/no).</p>
<p>The outcome is: (ss) stress score at age 40 (continuous), unit is &quot;points&quot;.</p>
<h3>Linear Correlation</h3>
<p><em>Linear Correlation:</em>
  <img src="https://i.upmath.me/svg/Corr(A%2CB)%20%3D%20%5Cfrac%7B1%7D%7Bn-1%7D%20%5Csum%5E%7Bn%7D_%7Bi%3D1%7D%20(%5Cfrac%7Ba_i%20-%20%5Cbar%7Ba%7D%7D%7BSD_a%7D)(%5Cfrac%7Bb_i%20-%20%5Cbar%7Bb%7D%7D%7BSD_b%7D)" alt="Corr(A,B) = \frac{1}{n-1} \sum^{n}_{i=1} (\frac{a_i - \bar{a}}{SD_a})(\frac{b_i - \bar{b}}{SD_b})" /></p>
<p>Sum of the z-score multiplication of each data point divided by (n-1). It tells us what the relationship between these two variables is negative or positive in a <em>linear assumption</em> (e.x. perfect U-shape plot is the same correlation as a random plot, corr = 0). It also tell the strength of the linear relationship; if close to -1 or 1 it is strong linear.</p>
<p>Sensitivity to outlier</p>
<ul>
  <li>mean is sensitive, median is robust</li>
  <li>SD is sensitive, IQR is robust</li>
  <li>correlation is sensitive</li>
</ul>
<h3>Simple Linear Regression</h3>
<p>Linearity: <strong>The mean of the outcome</strong> changes linearly with the <strong>values</strong> of the predictor.</p>
<table>
  <thead>
  <tr>
    <th style="text-align:left">Description</th>
    <th style="text-align:right">Formula</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td style="text-align:left">True Line</td>
    <td style="text-align:right"><img align="center" src="https://i.upmath.me/svg/%20ss_i%20%3D%20%5Calpha%20%2B%20%5Cbeta_1%20%5Ctimes%20num.p_i%20%2B%20%5Cbeta_2%20%5Ctimes%20deg_i%2B%20%20%5Cvarepsilon_i%20" alt=" ss_i = \alpha + \beta_1 \times num.p_i + \beta_2 \times deg_i+  \varepsilon_i " /></td>
  </tr>
  <tr>
    <td style="text-align:left">Fitted Value of <img src="https://i.upmath.me/svg/ss" alt="ss" /></td>
    <td style="text-align:right"><img align="center" src="https://i.upmath.me/svg/%20%5Chat%7Bss_i%7D%20%3D%20%5Chat%7B%5Calpha%7D%20%2B%20%5Chat%7B%5Cbeta%7D%20%5Ctimes%20num.p_i%20" alt=" \hat{ss_i} = \hat{\alpha} + \hat{\beta} \times num.p_i " /></td>
  </tr>
  <tr>
    <td style="text-align:left">Estimated Residual</td>
    <td style="text-align:right"><img align="center" src="https://i.upmath.me/svg/%20%5Chat%7B%5Cvarepsilon%7D_i%20%3D%20ss_i%20-%20%5Chat%7Bss_i%7D" alt=" \hat{\varepsilon}_i = ss_i - \hat{ss_i}" /></td>
  </tr>
  <tr>
    <td style="text-align:left">mean</td>
    <td style="text-align:right"><img align="center" src="https://i.upmath.me/svg/%20mean(ss_i%20%7C%20num.p)%3D%20%5Calpha%20%2B%20%5Cbeta%20%5Ctimes%20num.p_i%20" alt=" mean(ss_i | num.p)= \alpha + \beta \times num.p_i " /></td>
  </tr>
  </tbody>
</table>
<p><img src="https://i.upmath.me/svg/%5Cvarepsilon_i%20" alt="\varepsilon_i " />: <strong>residual</strong>, the vertical distance between the value <img src="https://i.upmath.me/svg/ss_i" alt="ss_i" /> and the line (regression line). Mean of residual will always be zero.</p>
<ul>
  <li>How far off a person’s stress score is from the number we expected based on the linear relationship with the number of pages of Berserk read.</li>
</ul>
<p><img src="https://i.upmath.me/svg/%20%5Cbeta%20" alt=" \beta " />: <strong>slope</strong>, can be scaled</p>
<ul>
  <li>The slope tells us how much more/less stress score at age 40 (<img src="https://i.upmath.me/svg/ss" alt="ss" />) for each additional page of Berserk is read (<img src="https://i.upmath.me/svg/num.p" alt="num.p" />). In this case, stress scores are on average <img src="https://i.upmath.me/svg/ss_i" alt="ss_i" /> points heavier for each page Berserk is read, or equivalently babies on average are <img src="https://i.upmath.me/svg/ss_i%5Ctimes%2010" alt="ss_i\times 10" /> points more for each <img src="https://i.upmath.me/svg/num.p%5Ctimes%2010" alt="num.p\times 10" /> pages more pages of Berserk is read.</li>
  <li>(Dichotomous)</li>
</ul>
<p><img src="https://i.upmath.me/svg/%20%5Calpha" alt=" \alpha" />: <strong>y-intercept</strong></p>
<ul>
  <li>The y-intercept, <img src="https://i.upmath.me/svg/%5Calpha" alt="\alpha" /> (actual number), is the average stress score (<img src="https://i.upmath.me/svg/ss" alt="ss" />) of those who have read 0 pages of Berserk (<img src="https://i.upmath.me/svg/num.p%3D0" alt="num.p=0" />).</li>
</ul>
<p><em>We can use the estimated regression line to
  predict an expected (mean) <img src="https://i.upmath.me/svg/ss" alt="ss" /> value for a new
  unit where we know its value of <img src="https://i.upmath.me/svg/num.p" alt="num.p" /></em></p>
<p>For summary</p>
<p><strong>RMSE</strong>: How far are the actual stress scores of people at age 40 from the number we expected based on the number of pages of Berserk read?
  <img src="https://i.upmath.me/svg/%20%5Csqrt%7B%5Cfrac%7B1%7D%7Bn%7D%20SSR%7D%20%3D%20%5Csqrt%7B%5Cfrac%7B1%7D%7Bn%7D%20%5Csum%20_i%20%5Chat%7B%5Cvarepsilon%5E2_i%7D%7D" alt=" \sqrt{\frac{1}{n} SSR} = \sqrt{\frac{1}{n} \sum _i \hat{\varepsilon^2_i}}" /></p>
<ul>
  <li>On average, people’s actual stress score is <img src="https://i.upmath.me/svg/%5C%23RMSE(ss_i)" alt="\#RMSE(ss_i)" /> more or less than the stress score expected based on the number of Berserk pages read and .</li>
</ul>
<p><strong><img src="https://i.upmath.me/svg/R%5E2" alt="R^2" /> Interpret:</strong></p>
<ul>
  <li>Put the answer <strong>into the units of the actual values</strong>.</li>
  <li><img src="https://i.upmath.me/svg/%5C%23R%5E2(ss_i)" alt="\#R^2(ss_i)" /> of the variation in average stress score is accounted for by average pages read in Berserk and its linear relationship with average stress score.</li>
</ul>
<p><strong>Check the linearity assumption</strong></p>
<ul>
  <li>In a residual plot</li>
  <li>(In case of residual plot of stress score show random spread around the center line) The mean of the residuals in each of the 3 or 4 vertical slices ( each with approximately the same number of data points) appears to be close to zero. Hence, there are no clear violations of the linearity assumption.</li>
  <li>(In case of residual plot of stress score show non-random spread around the center line, curvilinear) The linearity assumption appears to be violated. We see several regions of the <img src="https://i.upmath.me/svg/ss" alt="ss" /> residual plot where the mean of the residuals appears to differ from zero - the residuals appear to follow a U-shape. The mean of the residuals for those with the lowest average estimated stress score (under 2) and those with the highest average estimated stress score (over 8) appears to be greater than zero. The mean of the residuals for those with the middle average estimated stress score (around 4 - 6) appears to be less than zero.</li>
</ul>
<p><strong>Categorical to Dichotomous</strong>: by actually changing a categorical variable into multiple boolean (dichotomous) variables.</p>
</body>
</html>