<table style="border-collapse: collapse; width: 100%;">
  <thead>
  <tr>
    <th style="border: 1px solid #ddd; padding: 8px;">Section</th>
    <th style="border: 1px solid #ddd; padding: 8px;">Detail</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td style="border: 1px solid #ddd; padding: 8px;">Executive Summary</td>
    <td style="border: 1px solid #ddd; padding: 8px;">Summary of the contents and authorization within</td>
  </tr>
  <tr>
    <td style="border: 1px solid #ddd; padding: 8px;">Purpose</td>
    <td style="border: 1px solid #ddd; padding: 8px;">Why the RoE is used</td>
  </tr>
  <tr>
    <td style="border: 1px solid #ddd; padding: 8px;">Reference</td>
    <td style="border: 1px solid #ddd; padding: 8px;">References used</td>
  </tr>
  <tr>
    <td style="border: 1px solid #ddd; padding: 8px;">Scope</td>
    <td style="border: 1px solid #ddd; padding: 8px;">Agreed upon restrictions and guidelines</td>
  </tr>
  <tr>
    <td style="border: 1px solid #ddd; padding: 8px;">Definitions</td>
    <td style="border: 1px solid #ddd; padding: 8px;">Technical terms used</td>
  </tr>
  <tr>
    <td style="border: 1px solid #ddd; padding: 8px;">Rules of Engagement and Support Agreement</td>
    <td style="border: 1px solid #ddd; padding: 8px;">Defines the obligations and technical expectation</td>
  </tr>
  <tr>
    <td style="border: 1px solid #ddd; padding: 8px;">Provisions</td>
    <td style="border: 1px solid #ddd; padding: 8px;">Define exceptions and additional info.</td>
  </tr>
  <tr>
    <td style="border: 1px solid #ddd; padding: 8px;">Requirements, Restrictions, and Authority</td>
    <td style="border: 1px solid #ddd; padding: 8px;">Define expectations of the red team.</td>
  </tr>
  <tr>
    <td style="border: 1px solid #ddd; padding: 8px;">Ground Rules</td>
    <td style="border: 1px solid #ddd; padding: 8px;">Limitation of red team</td>
  </tr>
  <tr>
    <td style="border: 1px solid #ddd; padding: 8px;">Resolution of issues/Points of Contact</td>
    <td style="border: 1px solid #ddd; padding: 8px;">Contain all essential personnel</td>
  </tr>
  <tr>
    <td style="border: 1px solid #ddd; padding: 8px;">Authorization</td>
    <td style="border: 1px solid #ddd; padding: 8px;">Statement of authorization for the engagement</td>
  </tr>
  <tr>
    <td style="border: 1px solid #ddd; padding: 8px;">Approval</td>
    <td style="border: 1px solid #ddd; padding: 8px;">Signatures from both parties</td>
  </tr>
  <tr>
    <td style="border: 1px solid #ddd; padding: 8px;">Appendix</td>
    <td style="border: 1px solid #ddd; padding: 8px;">Additional info.</td>
  </tr>
  </tbody>
</table>
